<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="p4" class="content-section">
                <div class="section-heading">
                    <h1>Creating <em>Mental Images</em></h1>
                </div>
                <p>Up until now, I have discussed how your beliefs can shape images triggered by events around you. But do you know that you can create images based upon events within you? These images, in turn, can help you achieve the goals you dream of.</p>
                <br>
                <p>Determine what your image will be. Your favorite vacation spot. A quiet room. A concert hall, beach, or garden. It can be from your past and based upon fact, or it can be a creation of your imagination. Or, perhaps, you’d like to create a mental collage, drifting from one pleasant place to another. If it helps, gaze upon the scene in a picture, and let that be your setting, imagining that you are now a part of it.</p>
                <br>
                <p>Select an object, a fragrance, or a piece of music that will be a part of your image. Make it something unusual, something that you would not normally encounter. This is going to be your ‘conditioned stimulus.’ By having it present when you create the image, it will acquire similar properties to Pavlov’s bell. Except now, you want it to activate the emotions and physiology associated with your imagery session. Later, just by exposing yourself to the object, you will more quickly enter the state you want to be in.</p>
                <br>
                <p>Isolate yourself from distracting, sensory stimuli. Make sure that the room is quiet, that you are comfortable, and that there are no distractions. Include dimensions that will enhance your image. Appropriate music and fragrances may enrich the mood, so let them bath your imagination.</p>
                <br>
                <p>Relax. If your mind is preoccupied with something else, intrusive thoughts will make it difficult for you to create anything except superficial images. Colors, aromas, sounds, and an awareness of small details within the place you have created will only transpire when you are totally relaxed. Take a warm bath. Listen to relaxing music. Read some poetry. Take deep, abdominal breaths. Use progressive muscle relaxation. Do whatever works for you.</p>
                <br>
                <p>Immerse yourself in your journey. Picture the setting from afar, as though you are watching the scene on a large, theater screen. Observe the objects, people, sounds, fragrances, and colors. Is it warm or cold? Identify a place where you would like to be, and move towards it, noting how everything changes with your perspective. Become a part of the scene. Create a scene that warrants a smile. As you take in your surroundings, gently rotate your head in a tension-releasing sweep around your shoulders, observing new things as your head slowly moves.</p>
                <br>
                <p>Practice creating images. Remember, it’s your belief-driven image that governs the emotions, which, in turn, are able to impact every aspect of your personal and professional life. If you want to do the things you want to do, you must learn to control your images.</p>
                <br>
                <p>
                I’ve described the characteristics of core, cultural, hand-me-down, advertised, and biological beliefs and the questions you should ask to determine if the belief that guides you is the one you really should be embracing. It’s important to do this before anything else, for your beliefs impact on virtually every aspect of your life.</p>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                          
                        </div>
                    </div>
                </div>   
               
            </section>
</div>