<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="p3" class="content-section">
                <div class="section-heading">
                    <h1>Faith & <em>Optimism</em></h1>
                </div>
                <p>The Russians were preparing to launch the first satellite into space; American advisors were venturing into Vietnam; and Ruth Fisher was my sixth-grade teacher. Yet, with a stroke of her pen, she had as great an impact on shaping my life as those world events would have on shaping the following decades. “Nicholas doesn’t pay attention. He wastes time, and he fails to follow instructions,” she wrote on the back of my C- and D-strewn report card. Hardly words of praise, yet they instilled in me a sense of confidence and optimism.</p>
                <br>
                <p>The lasting message was conveyed between the words: “Nicholas doesn’t…wastes time…fails to follow instructions.” It was I who was in command. My lackluster grades were not the consequence of a low IQ or some genetically-inspired inability to learn. Instead, those D’s were the result of my actions—or, rather, lack of actions. At any time, I chose; I could have earned A’s and B’s. All I had to do was start paying attention and start following instructions. That was my choice, and it required no help from anyone.</p>
                <br>
                <p>Pity the poor student who, despite paying attention and following instructions, still failed. Chances are, the teacher would have concluded, John is just not good at math or Mary just doesn’t do well on tests. John and Mary will learn that they have a problem with no clear solution in hand. They are being told that there is a problem with them. I was told there was a problem with my choices.</p>
                <br>
                <p>As a consequence, I came to recognize that most of life’s hurdles are temporary setbacks and are capable of being overcome. I learned to be optimistic. Here are some other things I’ve learned along the way:</p>
              

                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                           <ul>
                               <li>Nothing in life is permanent. While lessons learned early in life can have a lasting impact, pessimism can be changed. The steps are the foundation of cognitive psychology.</li>
                                    <li>Learn to succeed through failure in the same way many successful CEOs have. Despite being labeled as dyslexic or ADD as children, they found that the problem was not their style but the mismatch with their environment.</li>
                                    <li>Optimism is realistic, not positive-thinking. It is recognizing that doing something can make a difference. It is no wonder that optimism predicts a reduced incidence of cancer and improved immunity. Optimists also have more friends since they are more fun to be around. Social support is yet another pathway to optimal health.</li>
                           </ul>
                        </div>
                    </div>
                </div>   
                <p>Clearly, optimism is a trait engrained during early childhood. However, that’s water under the bridge. You can’t go back and rewrite history. So what are your current options? What steps can you take to instill a sense of optimism long after having a pessimistic explanatory style imposed upon your psyche? There are things you can do, but it won’t be easy. That’s because it may require reprogramming your brain.</p>
                <br>
                <p>In the face of adversity, you are likely to respond to a threat by engaging in either approach or avoidance behaviors. In the extreme, you would either fight or run away. Associated with the approach system is optimism. It’s highly unlikely that you would engage in a behavior unless you anticipated a positive outcome. Enthusiasm and pride would generally occur when moving toward a goal. In contrast, another system is associated with withdrawal from an aversive environment. Negative affect, perhaps in the form of disgust or fear, will generally be associated with putting distance between yourself and the source of the threat. Your tendency to withdraw will keep you from your goal.</p>
                <br>
                <p>Martin Seligman has conducted a number of studies revealing that people’s individual coping styles will have an impact on their response to threat. People who recognize that adversity does not have to permeate every aspect of their life, that adversity is temporary, and, largely, the result of external events, have an optimistic explanatory style and, generally, will rebound faster from stress-inducing events. They will view the event as a challenge and engage in approach behaviors. Their attitude is, “I can do this.” In contrast, those who personalize events and embrace the belief that every aspect of their life will be negatively and permanently impacted are said to have a pessimistic explanatory style. They tend to view adversity as an obstacle and engage in avoidance behaviors.</p>
            </section>
</div>