<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="v2" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>A Quick <em>Fix</em></h1>
                        </div>
                       <p>I’ve explained ways for dealing with the understanding and eventual changing of your belief. But those techniques won’t do you much good during an emergency. When you find yourself in the midst of an emotional crisis, that is not the time to be sitting back and saying, “What are my beliefs? And is it my belief or somebody else’s? What were those seven questions?” The process I have described is fine for making long-term adjustments; however, occasionally, you need to be able to do something immediately. And one of the most effective ways of putting the brakes on the emotional response and maintaining control so that you can remain focused is to boost your sense of satisfaction.</p>
                       <br>
                       <p>There’s only one thing that is consistently characteristic of a happy person. It’s not age, gender, wealth, or health. Happiness is experienced when you are truly satisfied with what you currently have. Be careful. Dissatisfaction is an excellent motivator. You should not be satisfied with things that are within your power to improve. But when you have done your best and are satisfied with your circumstances, then happiness will be the result. Here’s a very simple way to improve your levels of satisfaction. Complete this statement three times in the context of whatever is happening:</p>
                       <br>
                       <p>
                       I am glad I am not _____________.</p>
                       <br>
                       <p>If you find yourself caught in gridlock with no way of making it to the important meeting, complete this statement by saying, “I am glad I am not a part of the accident that is causing this traffic jam.” Or if your child comes home from school with failing grades, complete this statement by saying, “I am glad I did not just receive a call from the emergency room regarding my child.” It’s called reframing, and it may explain why people who have dealt with a great deal of adversity are often better able to deal with future crises. As a result of having successfully endured and survived a bad situation, they learn that everything is temporary. In the words of the Anglo-Saxon poem Deor, “This, too, shall pass.” Now, when they find themselves in a quandary, they can reflect upon the previous incident, which will make the current episode seem trivial by comparison.</p>
                       <br>
                       <p>I was living in Grenada during the Marxist revolution and recall dozens of panic-stricken American medical students seeking any avenue off the island. They even offered local fishermen vast sums to transport them to safety in small, dilapidated boats. Thank goodness that the fishermen declined. There’s no way that many of those boats would have safely made the crossing to the next island. On the other hand, the expatriates who resided on the island took it all in stride. One resident had lived through countless revolutions in Africa. Others had lived in London during World War II and had endured the relentless bombings. Their perspective was very different. They had been through far worse and had survived. Therefore, they were confident that they could do so this time.</p>
                       <br>
                       <p>By reflecting upon a previous experience or by simply imagining something worse, you find yourself becoming more satisfied with your present circumstances. What many people do is just the opposite. They make things worse by completing the statement:</p>
                       <br>
                       <p>I wish I were________.</p>
                       <br>
                       <p>That sequence of words is a recipe for dissatisfaction. I wish I had a better car, a bigger house, or a more meaningful job will simply reinforce your perception that you are dissatisfied.</p>
                        <div class="text-content">
                            <div class="section-heading">      
            </section>
</div>