<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="v3" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Anatomy <em>Of Optimism </em></h1>
                        </div>
                      
                            <p>A specific part of the brain called the prefrontal cortex appears to be partially responsible for determining whether a person will approach or avoid a threat. This bi-lobed structure is located above the orbits at the front of the brain. Different regions of this structure are responsible for shaping your responsiveness to events. The left side contributes to positive feelings since patients with damage to this region are more likely to be depressed. This observation is consistent with electrophysiological data. When healthy people are exposed to emotion-eliciting events, there is increased activity on the left side of the brain during times when the person is experiencing happiness, and there is more activity on the right side of the brain when they are sad.</p>
                            <br>
                            <p>So often, we tend to think that if something is associated with an event in the brain, it must be the cause of a behavior and not itself subject to behavioral influences. That is not true of the prefrontal lobes. A technique called mindfulness meditation has been shown capable of bringing about not only a change in brain activity but also a change in outlook. It’s a technique that requires instruction and practice. Therefore, it is beyond the scope of this book to provide an in-depth description of the protocol. Nonetheless, it involves the induction of a meditative state, while maintaining an awareness of something in the environment. Usually, it is an aroma, a sound, or some other feature, which, otherwise, would not be a part of your conscious awareness.</p>
                            <p>When taking steps to change your outlook, do not replace pessimism with positive thinking. That is not a feature of optimism. Bad things happen, and, when they do, there may be nothing to justify a rosy outlook. As defined by Seligman, optimism pertains to how you perceive adversity. It’s more about non-negative thinking than it is about being positive. Seligman has formulated what he refers to as the ABC technique for replacing a pessimistic explanatory style with one that is optimistic.</p>

                            <br>
                        <div class="text-content">
                            <div class="section-heading">
                                <ul>
                                    <li><b>Adversity</b>: Identify the problem minus any feelings. It’s merely a description of what has happened.</li>
                                    <li><b>Beliefs</b>: Examine the beliefs that are shaping your response.</li>
                                    <li><b>Consequences</b>: Reflect upon your actions as well as their consequences.</li>
                                    <li>This is really a modification of cognitive therapy, used extensively by mental health workers. The basic formula, which you will engage in yourself, is as follows:
                                        <br>
                                        <br>
                                        <ol>
                                            <li>Identify the automatic thoughts, which make you feel worse.</li>
                                            <li>Consider opposite interpretations as you dispute these harmful thoughts.</li>
                                            <li>Create different explanations.</li>
                                            <li>Develop a strategy to distract yourself from negative thoughts.</li>
                                            <li>Examine carefully the depression-inducing beliefs that give rise to your pessimism.</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </div>
            </section>
</div>