<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Resolve Situations <em> As They Arise</em></h1>
                        </div>
                        <div class="text-content">
                              <div class="section-heading">
                            <ul>
                            <li>The ability to rapidly resolve conflicts reflects a healthy state of mind.
                            Anxiety and feelings of sadness or depression are sometimes the product
                            of unresolved conflicts. The emotional residue of each circumstance may
                            be stored and may interfere with feelings of contentment and peace. It is
                            easy to carry around these unresolved feelings and become fatigued and
                            burdened by them. The more effectively you resolve situations as they
                            arise, the more effectively you can live in the present and be
                            unencumbered by the past. </li>
                        <li>Ask yourself:
                            <ol>
                                <li>Do I tend to resolve situations as they arise?</li>
                                <li>Do I find myself regretting not having said important things to people
                                    during past episodes of my life?</li>
                                <li>Do I tend to ‘smooth over’ conflict when it occurs in relationships?</li>
                                <li>Do I avoid conflict at all costs?</li>
                                <li>Is it difficult for me to express emotions? </li>
                                <li>Do I tend to rehash the events in my life, or, perhaps, preview
                                    possible solutions over and over in my mind, but never progress to
                                    the point where I take concrete action?</li>
                            </ol>
                        </li>
                        <li>People often avoid dealing with conflict because they do not believe their
                            actions will be effective, or they are worried that others will respond
                            negatively towards them. Ironically, avoiding conflict often sabotages
                            relationships and makes life even more difficult.</li>
                        <li>Remember:
                            <ol>
                                <li>
                                    You always have choices. If nothing else, you can choose your
                                    attitude.
                                </li>
                                <li>You always will act in accordance with your beliefs. </li>
                                <li>Your stress decreases as your sense of control and optimism
                                    increases. </li>
                            </ol>
                        </li>
                        <h2>Get It Off Your Chest</h2>
                        <li>Writing about the experiences in your life can be quite an effective strategy
                            for reaching resolution and expressing emotions. Writing is simple and can
                            be done almost anywhere, anytime. There is something about putting your
                            thoughts and feelings on paper that helps. Sometimes, it simply helps you
                            to break the cycle of ruminating about the event. Other times, it helps you
                            to express important emotions. Or, it may help you to organize your
                            feelings. </li>
                        <div class="fl-right">
                          <img src="app/styles/images/WinningtheMentalChallenge2.jpg" width="203" height="133" alt="Winning the Mental Challenge">
                        </div>      
                        <li>The first step is to set aside fifteen or twenty minutes each day to write.
                            Choose a time when you can be alone with your thoughts and feelings,
                            free from distractions. Find a place and a time to do this each day and do it
                            consistently. Simply write whatever comes to mind. Do not censor what
                            you write: just write. In essence, you will
                            be practicing free association. If you find
                            this hard to do, imagine writing to a friend,
                            one you know very well. Tell her
                            everything about your day, everything
                            about your life, and everything about
                            yourself. Write about your joy, your fear,
                            your anger, or your pain.</li>
                            </ul>         
            </section>
</div>
